<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">



  
          <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
        </nav>
        
                     
        

    <!-- ===============================================-->
    <!--  메인  -->
    <!-- ===============================================-->

           <div id="faq" class="content container-medium">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item">고객 센터</li>
            <li class="breadcrumb-item active">FAQ</li>
          </ol>
        </nav>
        <h2 class="mb-5">FAQ</h2>
        <h5 class="mb-3">무엇이 궁금하신가요??</h5>

        <div class="accordion">
          <div class="accordion-item border-top">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">증상 기록은 어떻게 하나요?</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">증상 기록 게시판을 이용해서 구급차 또는 개인에 맞게 작성해 주세요!!</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">다른 사람의 정보는 못 보나요?</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">다른 사람의 증상 같은 경우는 관리자 권한이 있는 병원 관계자만 읽기 가능합니다.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">병원 연락처는 어떻게 알 수 있나요?</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">메인 페이지 하단부를 참고해 주세요!! <a href="mailto:phoenix@email.com">Email: songunhee@gmail.com.</a> 주소로 메일을 보내주시기 바랍니다.</div></div>
            </div>
          </div>
        
        <div class="text-center py-11">
          <h3 class="text-body-emphasis">원하는 답을 찾지 못하셨나요?</h3>
          <p class="text-body">궁금한 점을 보내주세요</p>
          <a class="btn btn-sm btn-outline-primary btn-support-chat" href="/question"><span class="fas fa-comment me-2"></span>문의 등록</a>
        </div>
</div>
</th:block>