<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">




  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
        </nav>
        
        
        
      </div>
      <div class="booking-hero-header d-flex align-items-center">
        <div class="bg-holder bg-holder overlay bg-opacity-50" style="background-image:url(/assets/video/travel.png);">
          <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
            <source src="/images/video111.mp4" type="video/mp4" />
          </video>
        </div>
        <!--/.bg-holder-->

        <div class="container-medium position-relative z-5">
        
          <h2 class="text-secondary-lighter fs-5 fs-md-3 fw-normal mb-3">응급환자</h2>
          <h1  class="fs-4 fs-md-1 text-white fw-normal mb-6 overflow-hidden">맞춤 병원 <span class="typed-text text-primary" data-typed-text="[&quot;&lt;span class=text-primary&gt;추천?&lt;/span&gt;&quot;,&quot;&lt;span class=text-warning&gt;연결?&lt;/span&gt;&quot;, &quot;&lt;span class=text-info&gt;예약?&lt;/span&gt;&quot;, &quot;&lt;span class=text-success&gt;안내?&lt;/span&gt;&quot;]"></span></h1>
       		
            </div>
          </div>
  
    

	<br>
	<br>
	<br>
      <!-- ============================================-->
     
      <!-- <section> close ============================-->
      <!-- ============================================-->


    
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-29.png);background-size:auto;background-position:-15%;">
        </div>


        <div class="container-medium position-relative">
          <h3 class="mb-2 text-body-emphasis text-center text-xl-start">증상 기록 작성하기</h3>
          <div class="d-xl-flex justify-content-between mb-5 text-center">
            
            <p class="mb-0 text-body-tertiary">증상 기록을 작성해 보세요!!</p>
            
         
          
          </div>
          <div class="row g-0 justify-content-center">
            <div class="col-sm-11 col-md-8 col-lg-6 col-xl-12">
              <div class="row gy-5 gx-xl-7 justify-content-between pe-4">
                <div class="col-xl-4">
                  <div class="card card-img-shift border-0 mx-auto">
                    <div class="rounded-3 overflow-hidden w-100 position-relative z-5"><img class="w-100" src="/images/logo444.webp" alt="" height="250" />
                      <button class="btn btn-wish position-absolute top-0 end-0 mt-3 me-3"><span class="far fa-heart"></span></button>
                    </div>
                    <div class="card-body p-0">
                      <div class="card-content">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
         
                        </div><a class="fw-bold fs-7 text-body-emphasis mb-2 text-primary-hover" href="#!">구급차 증상 기록</a><a class="fw-semibold text-body-tertiary mb-3 d-block" href="#!"></a>
                        
                        <a href = "/notice" >
                        <button class="btn btn-primary px-5">작성하기</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="card card-img-shift border-0 mx-auto">
                    <div class="rounded-3 overflow-hidden w-100 position-relative z-5"><img class="w-100" src="/images/logo111.png" alt="" height="250" />
                    <button class="btn btn-wish position-absolute top-0 end-0 mt-3 me-3"><span class="far fa-heart"></span></button>
                    </div>
                    <div class="card-body p-0">
                      <div class="card-content">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
         
                        </div><a class="fw-bold fs-7 text-body-emphasis mb-2 text-primary-hover" href="#!">개인 증상 기록</a><a class="fw-semibold text-body-tertiary mb-3 d-block" href="#!"></a>
                        
                        <a href = "/review" >
                        <button class="btn btn-primary px-5">작성하기</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="card card-img-shift border-0 mx-auto">
                    <div class="rounded-3 overflow-hidden w-100 position-relative z-5"><img class="w-100" src="/images/logo333.png" alt="" height="250" />
                  <button class="btn btn-wish position-absolute top-0 end-0 mt-3 me-3"><span class="far fa-heart"></span></button>
                    </div>
                    <div class="card-body p-0">
                      <div class="card-content">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
         
                        </div><a class="fw-bold fs-7 text-body-emphasis mb-2 text-primary-hover" href="#!">병원 증상 기록</a><a class="fw-semibold text-body-tertiary mb-3 d-block" href="#!"></a>
                        <a href = "/notice" >
                        <button class="btn btn-primary px-5">작성하기</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
      <br>
      <br>
      <br>
      <section class="pb-7 pt-0 overflow-x-hidden">
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-31.png);background-size:22%;background-position:left;z-index:1;">
        </div>
   

        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-31.png);background-size:15%;background-position:right bottom;z-index:1;">
        </div>


        
        <div class="bg-latest-posts"></div>
        <div class="container-medium text-center position-relative z-2">
          <h3 class="mb-2 text-body-emphasis"> 응급환자 병원 소개</h3>
          <p class="mb-0 text-body-tertiary mb-13">전국의 응급환자 병원 소개 드릴께요.</p>
        </div>
        <div class="swiper-theme-container swiper-zooming-slider">
          <div class="swiper-container theme-slider" data-swiper='{"loop":true,"slidesPerView":1.3,"spaceBetween":32,"speed":2000,"autoplay":true,"centeredSlides":true,"breakpoints":{"540":{"slidesPerView":1.5},"768":{"slidesPerView":1.8},"1200":{"slidesPerView":2},"1530":{"slidesPerView":2.8}}}'>
            <div class="swiper-wrapper">
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/img111.webp"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">서울특별시 송파구 풍납동</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.8</h6>
                    </div><a class="text-white fw-bold fs-7" href="https://m.place.naver.com/place/11620331/home?entry=plt">서울아산병원</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/img222.webp"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">서울특별시 서대문구 신촌동</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.5</h6>
                    </div><a class="text-white fw-bold fs-7" href="https://m.place.naver.com/place/13453213/home?entry=plt">세브란스병원</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/img333.webp"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">서울특별시 강남구 일원동</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.2</h6>
                    </div><a class="text-white fw-bold fs-7" href="https://m.place.naver.com/place/13302613/home?entry=plt"/>삼성서울병원</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/img444.webp"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">서울특별시 종로구 연건동</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.5</h6>
                    </div><a class="text-white fw-bold fs-7" href="http://www.gakwonsa.or.kr/">서울대학교병원</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-nav">
            <div class="swiper-button-next"><span class="fas fa-chevron-right text-primary" data-fa-transform="shrink-3"></span></div>
            <div class="swiper-button-prev"><span class="fas fa-chevron-left text-primary" data-fa-transform="shrink-3"></span></div>
          </div>
        </div>
        <div class="text-center mt-12 position-relative z-2">
        
        
        
        
        <a href = "/review">
          <button class="btn btn-link p-0 fs-8">View all<span class="fa-solid fa-chevron-right ms-2" data-fa-transform="shrink-1"></span></button>
        </a>
        
        
        
        
        </div>
      </section>
    

</th:block>

